@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
}

.navigationbar {
    display: flex;
    background-color: black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
}

.navigation-text {
    color: #24ab4c;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
}

.logo {
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
}

.logo img {
    width: 10%;
    border: 3px solid #24ab4c;
    border-radius: 50px;
    justify-content: center;
    margin-left: 50px;
}

.rightnavigation {
    background-color: #24ab4c;
    width: 60%;
    align-items: center;
}

.navigationlist {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: right;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.navigationlist li {
    list-style: none;
    padding: 20px;
    font-size: 20px;
}

.navigationlist li:hover {
    list-style: none;
    padding: 20px;
    font-size: 20px;
    background-color: black;
    color: #24ab4c;
    transition: all 0.5s;
}

.navigationlist li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.navigationlist li a:hover {
    text-decoration: none;
    padding: 10px;
    color: yellow;
    align-items: center;
    transition: all 0.5s;
}

.background {
    background: rgba(0, 0, 0, 0.0) url('Background1.jpg') fixed;
    background-size: cover;
    background-blend-mode: darken;
}

.box-main {
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Kanit', sans-serif;
}

h1 {
    padding-top: 150px;
    text-align: center;
    color: #24ab4c;
    font-size: 50px;
}

.sub-heading-text {
    color: yellow;
    font-size: 30px;
}

.text-area {
    color: white;
    padding-bottom: 50px;
}

.text-area a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.text-area a:hover {
    text-decoration: none;
    color: yellow;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 1s;
}

.footer-text {
    display: flex;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 20px;
    justify-content: center;
    position: sticky;
}